@page "/mo-code"

<RadzenCard Style="heigh: 500px">
    <RadzenMenu Style="margin: 0 0 0 auto">
        <RadzenMenuItem Text="お話リスト" Icon="home">
            <RadzenMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenMenuItem>
            <RadzenMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenMenuItem>
            <RadzenMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenMenuItem>
            <RadzenMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenMenuItem>
        </RadzenMenuItem>
    </RadzenMenu>
    <RadzenImage Path="http://momoirocode.web.fc2.com/4koma/230-1.jpg" Style="width:100%"></RadzenImage>
</RadzenCard>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
